.search-container {
    position: relative;
    min-width: 25vw;
    width: 100%;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #aaa;
}

input[type="text"] {
    width: 100%;
    padding: 0.75rem 1rem;
    padding-left: 2.5rem;
    font-size: 1rem;
    color: #aaa;
    font-style: italic;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]::placeholder {
    color: #aaa;
    font-style: italic;
}

input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

input[type="text"]:hover {
    border-color: #999;
}

.search-results {
    position: fixed;
    right: 10px;
    max-height: 50vh;
    overflow-y: scroll;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.search-results ul {
    list-style: none;
    padding: 0;
}


.search-results {
    z-index: 99999999;

    li {
        margin: 8px 0;
        font-size: 1rem;
    }

    a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s;

        &:hover {
        color: #333;
        }
    }
}