<div class="search-container">
    <span class="search-icon">🔍</span>
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Search for movies and TV shows" />
</div>

<div class="search-results" *ngIf="searchTerm.length >= 3 && searchResults.length > 0">
    <ul>
        <li *ngFor="let item of searchResults">
            <a [routerLink]="['/item', item.name ? 'tv' : 'movie', item.id]"  (click)="hideResults()">
                {{ item.name || item.title }}
            </a>
        </li>
    </ul>
</div>

<div class="search-results" *ngIf="searchTerm.length >= 3 && searchResults.length === 0">
    No results found
</div>