<cdk-virtual-scroll-viewport itemSize="100" 
    class="item-list" (scrolledIndexChange)="loadMoreItems()">

    <div class="items-container" *cdkVirtualFor="let item of items">
        <div class="item-card" (click)="navigateToDetails(item)">
            <img *ngIf="item?.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path"
                alt="{{ item?.title || item?.name }}" class="item-image" />
            <div class="item-info">
                <h3 class="item-title">{{ item?.title || item?.name }}</h3>
                <p class="item-rating">Rating: {{ item?.vote_average ? (item?.vote_average | number: '1.1-1') : 'N/A' }}</p>
            </div>
        </div>
    </div>
</cdk-virtual-scroll-viewport>

