.home {
    padding: 1rem;

    h2 {
        text-align: center;
        font-size: 2rem;
        color: #333;
    }

    section {

        h3 {
            font-size: 1.5rem;
            color: #007bff;
        }
    }

    .loading-indicator {
        text-align: center;
        font-size: 1.2rem;
        color: gray;
        margin-top: 1rem;
    }
}